html {margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: auto;
    box-sizing: border-box;
}

.blur {
    filter: blur(4px);
}


body {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    min-height: 100vh;
    background-image: linear-gradient(#010419, #010419, #161a3c, #353b6e, #6690b1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER STYLING */

header {
    margin: 0;
    background-color: #010419;
    padding: 0px 20px;
}

.heading {
    font-family: 'Life Savers';
    font-size: 54px;
    text-align: center;
    color: #f4faff;
}

/* CONTENT STYLING */

#add-book {
    align-self: flex-start;
    margin-left: 20px;
    background-color: #f9a03f;
    border: none;
    border-radius: 10px;
    font-family:'Open Sans';
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    height: 45px;
    width: 126px;
    box-shadow: 3px 3px 4px black;
    
    margin-top: 32px;
    margin-bottom: 32px;
}

/* FORM STYLING */

.form {
    position: fixed;
    top: 169px;
    

    background-color: #ff7477;
    border-radius: 33px;
    height: 418px;
    max-width: 290px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: #010419;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Open Sans';
    padding: 5px 20px;
    box-shadow: 2px 2px 4px black;
    opacity: 0;
    transform: scale(0.5);
}

@keyframes formPopupIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes formPopupOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  .form.active {
    animation: formPopupIn 0.3s forwards;
  }

  .form.inactive {
    animation: formPopupOut 0.3s forwards;
  }

input, select {
    border-radius: 10px;
    width: 220px;
    height: 32px;
    border: none;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-heading {
    align-self: center;
    color: #f4faff;
    font-family: 'Life Savers';
    font-size: 42px;
    text-decoration: underline;
}

#add {
    background-color: #f9a03f;
    border: 2px solid black;
    border-radius: 10px;
    font-family:'Open Sans';
    font-weight: 900;
    font-size: 24px;
    height: 49px;
    width: 139px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 4px black;
}

.add-button {
    align-self: center;
}

.card {
  min-height: 114px;
  min-width: 320px;
  border-radius: 25px;
  opacity: 85%;
  background-color: #f4faff;

  font-family: 'Open Sans';

  margin-bottom: 22px;
}

/* FOOTER STYLING */
.footer {
    margin-top: auto;
    width: 100vw;
    padding: 10px;
    background-color: #010419;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:#f4faff;
    display: flex;
    justify-content: center;
    align-items: center;
}