html {margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    min-height: 100vh;
    background-image: linear-gradient(#010419, #010419, #161a3c, #353b6e, #6690b1);
}

/* HEADER STYLING */

header {
    margin: 0;
    background-color: #010419;
    padding: 0px 20px;
}

.heading {
    font-family: 'Life Savers';
    font-size: 54px;
    text-align: center;
    color: #f4faff;
}

/* CONTENT STYLING */

#add-book {
    margin-left: 20px;
    background-color: #f9a03f;
    border: none;
    border-radius: 10px;
    font-family:'Open Sans';
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    height: 45px;
    width: 126px;
    box-shadow: 3px 3px 4px black;
}

/* FORM STYLING */

.form {
    background-color: #ff7477;
    border-radius: 33px;
    height: 418px;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #f4faff;
}

.form-heading {
    font-family: 'Life Savers';
    font-size: 42px;
    text-decoration: underline;
}

.inactive {
    display: none;
}

/* FOOTER STYLING */
.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    background-color: #010419;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:#f4faff;
    text-align: center;
}